<div class="add-user"><a href="./add-user" class="pri-btn">New User</a></div>
<form action="/" method="post" class="container">
    <table>
        <caption>User details</caption>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Phone number</th>
                <th>E_mail Id</th>
            </tr>
            <%- include('show_users')%>
    </table>
</form>